nav
  background-color $ho-grey
  font-size 0
  margin 0 0 30px
  position relative
  width 100%

  // #logo
  //   @include sprite-logo()

  // #login
  //   .tab-icon
  //     @include sprite-github-white()
  // //     margin-top 16px

  //   h1
  //     transition all 0.3s ease
  //     color white
  //     font $sans-xxs
  //     margin-top -7px

@media screen_to_break_one
  nav
    padding 0 $block

    .tab
      position absolute
      top 0
      width $block

    #main-menu
      left 0

    #log-in
      right 0

      .tab-icon
        opacity .6

      h1
        color $eo-grey

      :hover
        span
          opacity 1
        h1
          color white
