//Libraries
@import 'nib'

//Reset
global-reset()
*,*:before,*:after 
  box-sizing: border-box

//Variables and Mixins
@import ('./imports/mixins/_sprites.styl')
import_tree('./imports/variables')

//Files
@import ('./imports/components/_main-input.styl')
@import ('./imports/components/_nav.styl')
