//Variables
@import 'variables/_colors.styl'
@import 'variables/_measures.styl'
//Files
@import '_tag-box.styl'
@import '_basic-layout.styl'

.main-container
  font-family source-sans-pro, sans-serif

