//Libraries
@import 'nib'

//Reset
global-reset()
*,*:before,*:after
  box-sizing: border-box
input
  -webkit-appearnace none
  border-radius 0
  border none
  margin 0
  padding 0
  resize none
  outline none

//Variables and Mixins
@import ('./imports/mixins/_sprites.styl')
import_tree('./imports/variables')

//Files
@import ('./imports/components/_basic_layout.styl')
@import ('./imports/components/_big_tags.styl')
@import ('./imports/components/_main_input.styl')
@import ('./imports/components/_nav.styl')
@import ('./imports/components/_header.styl')
@import ('./imports/components/_title.styl')
@import ('./imports/components/_about.styl')
@import ('./imports/components/_links.styl')
@import ('./imports/components/_link_form.styl')
@import ('./imports/components/_display_frame_directive.styl')
@import ('./imports/components/_popover.styl')
@import ('./imports/components/_footer.styl')

