header
  margin 30px 0px 16px
  padding 0 16px

  h1
    cursor pointer
    display inline-block
    font $sans-xs-bold
    letter-spacing 0.1rem
    text-transform uppercase

    a
      transition all 0.3s ease
      color $ag-grey

    :hover a
      color $fo-grey
      text-decoration none


  h2
    color $green-med
    display inline-block
    font $sans-xs-light
