.tag{border:1px solid #000;border-radius:3px;display:inline-block;float:left;margin:0 5px;padding:3px 12px;position:relative;cursor:pointer}
.tag:after{right:2px;top:-5px;content:'x';font-size:10px;position:absolute}
.tag:hover{background-color:#808080}
html{font-size:62.5%}
.wf-loading body{opacity:0}
body{color:#333;}
body #main-container{margin:0 auto;max-width:1200px;padding:0 0 40px}
em{font-style:italic}
a{text-decoration:none;}
a :hover{text-decoration:underline}
@media screen and (min-width: 600px){body{padding:0 3%}
}nav{background-color:#333;font-size:0;margin:0 0 30px;position:relative;width:100%}
@media screen and (min-width: 600px){nav{padding:0 80px;}
nav .tab{position:absolute;top:0;width:80px}
nav #main-menu{left:0}
nav #log-in{right:0;}
nav #log-in .tab-icon{opacity:.6}
nav #log-in h1{color:#808080}
nav #log-in :hover span{opacity:1}
nav #log-in :hover h1{color:#fff}
}.main-container{font-family:source-sans-pro,sans-serif}
