#about
  border-bottom 2px solid $ao-grey
  color $co-grey
  padding 10px 0 25px

  img
  h2
  p
  .stat
    margin 0 24px

  img
    border-radius 3px
    max-height 200px

    &.avatar
      max-width 100px

  h2
    color $ho-grey
    font $sans-s-gold
    padding 20px 0 4px

  p
    font $sans-xs

    a
      color $fo-grey

  .stat
    padding 20px 0 0

    .stat-value
      color $go-grey
      font $sans-m-light

    .stat-label
      font $sans-xs
      margin 4px 0 0

  .related-tag-container
    a
      display block
      color $fo-grey
      overflow hidden
      text-overflow ellipsis
      box-sizing border-box
      vertical-align baseline
      &:hover
        text-decoration none

  .related-tag
    border-bottom 2px solid
    display inline-block
    height 40px
    margin 10px 3% 0
    padding 15px 0 0 2%
    width 44%
    white-space nowrap
    font $sans-xs
    &:hover
      transition all 0.2s ease
      border-bottom 4px solid $fo-grey

@media screen-to-break-two
  #about
    border-bottom none
    border-top 6px solid $ao-grey
    float right
    margin-top -26px
    padding 40px 0 0
    width 25%

    img
    h2
    p
      margin 0px 5%

    img
      max-height none

    .stat
      border-bottom 2px solid $oh-grey
      margin 0
      padding 25px 0 8px 5%

    .tags
      display block
