html
  font-size 62.5%

.wf-loading body
  opacity: 0

body
  color $ho-grey

  #main-container
    margin 0 auto
    max-width $max-w
    padding 0 0 40px

em
  font-style italic

a
  text-decoration none

  :hover
    text-decoration underline


@media screen-to-break-one
  body
    padding 0 3%

