.big-tags
  font-size 0px
  margin 0 16px

  a
    transition border 0.1s ease color 0.1s ease
    border-bottom 2px solid $green-light
    color $ho-grey
    display inline-block
    font $sans-m
    height 80px
    margin 5px 1%
    overflow hidden
    padding 30px 0 0 15px
    text-decoration none
    text-overflow ellipsis
    width 100%
    white-space nowrap

    &:hover
      border-bottom 6px solid black
      color $ho-grey
      transition all .2s ease
      cursor pointer

  &.click-for-more
    border-bottom 6px solid $ho-grey



  // &:hover
  //   border-bottom 6px solid $ho-grey


@media screen-to-break-one
  .big-tags
    margin 0
    a
      margin 5px 1%
      width 46%

@media screen-to-break-two
  .big-tags
    margin 0

    a
      margin 5px 1%
      width 23%

