#preview-pane 
  position absolute 
  right 0 
  height 100%
  width 25% 
  margin-right 50px 
  border 1px dashed black
  overflow scroll
  display none
  #close-preview
    position absolute
    top 10px
    right 10px
    background blue
    width 10px
    height 10px

.preview-logo
  color white
  // background blue

  
