#preview-pane 
  position absolute 
  top 270px
  right 5% 
  height 300px
  width 85% 
  margin-right 0px 
  overflow scroll
  display none
  // border 4px solid black
  img
    border 4px double black

  #close-preview
    font $sans-m
    position absolute 
    top 10px
    right 10px
    background black
    color white
    font-size 15px
    text-align center
    vertical-align middle
    line-height 20px
    width 20px
    height 20px
    &:hover
      cursor: pointer

.preview-logo
  color white
  margin-left 100px


@media screen-to-break-one
  #preview-pane 
    width 48%
    right 2%
    height 300px

@media screen-to-break-middle
  #preview-pane
    width 44%
    height 300px


@media screen-to-break-two
  #preview-pane
    width 28%
    right 2%
    height 420px




