#links
  .link
    border-bottom 2px solid $ob-grey
    margin 40px 0 0
    padding 0 24px 40px
    position relative

    .title-wrap
      max-height  200px
      h1
        width 100%
        overflow hidden   /* "overflow" value must be different from "visible" */
        text-overflow ellipsis  // text-overflow ellipsis
        color $ho-grey
        font $sans-m
        a
          color $ho-grey
          font $sans-m
          white-space nowrap
          width 100%
          font-size 2rem


    h2
      width 60%
      overflow ellipsis
      color $co-grey
      font $sans-s-light
      a
        color $co-grey
        font $sans-s-light
        margin 10px 0 0
        overflow hidden

    .meta-data
      
      .categories-name, 
      .tags-name
        display inline-block
        font $sans-xs-light
        top 3px
        position relative

        &:before
          content "|"
          margin 0 5px

      .user-submitted-name, .read-later
        display inline-block
        font $sans-xs-light
        top 3px
        position relative

        &:hover
          text-decoration: underline

      .read-later
        &:before
          content "|"
          text-decoration: none
          margin 0 5px
        
      .tags-name
        font $sans-xs

      .preview-logo
        display inline-block
        margin-left -10px
        position relative
        sprite-preview()
        top 10px

        &:hover
          cursor pointer

      .share
        display inline-block
        float right
        vertical-align top

    .votes
      font-size 0
      height 32px
      width 30px
      margin 20px 0 0 10px
      position relative
      width 90px

      .up-vote-this
        border-radius 2px
        box-shadow 0 0 0 6px rgba(0,0,0,0.15)
        transition all 0.2s ease
        background-color $ho-grey
        cursor pointer
        height 32px
        left 0
        padding 7px 0 0
        position absolute
        text-align center
        top 0
        width 32px

        .up-arrow
          transition all 0.2s ease
          background-color $ho-grey
          height 9px
          margin -5px -4px 0 0
          position absolute
          right 0
          top 50%
          width 9px
          transform rotate(45deg)

        &:before
          sprite-arrow-up-white()
          content ""
          display inline-block

        &:hover
        &:hover .up-arrow
          padding 4px 0 0
          background-color $fo-grey

        &:active
        &:active .up-arrow
          transition all 0s ease
          background-color $bluegreen

      .up-vote-this-after
        border-radius 2px
        box-shadow 0 0 0 6px $oe-grey
        transition all 0.2s ease
        background-color $ab-grey
        cursor pointer
        height 32px
        left 0
        padding 7px 0 0
        position absolute
        text-align center
        top 0
        width 32px

        .up-arrow
          transition all 0.2s ease
          background-color $ab-grey
          height 9px
          margin -5px -4px 0 0
          position absolute
          right 0
          top 50%
          width 9px
          transform rotate(45deg)

        &:before
          sprite-arrow-up-white()
          content ""
          display inline-block

        &:active
        &:active .up-arrow
          transition all 0s ease

      .vote-count
        color $fo-grey
        font $sans-s-light
        left 46px
        position absolute
        top 20px

    .down-vote-this
      border-radius 2px
      box-shadow 0 0 0 6px rgba(0,0,0,0.15)
      transition all 0.2s ease
      background-color $ho-grey
      cursor pointer
      height 32px
      left 0
      padding 7px 0 0
      position absolute
      text-align center
      top 50px;
      width 32px

      .down-arrow {
        transition all 0.2s ease
        background-color $ho-grey
        height 9px
        margin -5px -4px 0 0
        position absolute
        right 0
        top 50%
        width 9px
        transform rotate(45deg)
      }

      &:before
        sprite-arrow-down-white()
        content ""
        display inline-block

      &:hover
      &:hover .down-arrow
        padding 9px 0 0
        background-color $fo-grey

      &:active
      &:active .down-arrow
        transition all 0s ease
        background-color $bluegreen


    .down-vote-this-after
      border-radius 2px
      box-shadow 0 0 0 6px $oe-grey
      transition all 0.2s ease
      background-color $ab-grey
      cursor pointer
      height 32px
      left 0
      padding 7px 0 0
      position absolute
      text-align center
      top 50px;
      width 32px

      .down-arrow {
        transition all 0.2s ease
        background-color $ab-grey
        height 9px
        margin -5px -4px 0 0
        position absolute
        right 0
        top 50%
        width 9px
        transform rotate(45deg)
      }

      &:before
        sprite-arrow-down-white()
        content ""
        display inline-block

      &:active
      &:active .down-arrow
        transition all 0s ease

.filter-word
  font $sans-xs
  margin 10px 18% 0 3%
  padding 15px 0 0 0.5%
  display inline-block

.filter-options
  border-bottom 2px solid
  display inline-block
  font $sans-xs-light
  height 40px
  margin 10px 3% 0
  padding 15px 0 0 0.5%
  width 25%
  white-space nowrap
  color $fo-grey
  box-sizing border-box
  vertical-align baseline

  &.selected
    border-bottom 4px solid $fo-grey
    font $sans-xs
    color $fo-grey

    &:after
      @extend .icon-checkmark:after
      float right



  &:hover
    transition all 0.2s ease
    border-bottom 4px solid $fo-grey
    cursor pointer


@media screen-to-break-one
  #links
    margin 60px 0 0
    .link
      border-bottom none
      padding 0 30px 30px ($block*1.6)
      .title-wrap
        h1
          a
            font-size 2.9rem
      .votes
        left 25px
        margin 0
        position absolute
        top 1px
        width auto

        .vote-count
          font $sans-ms-light
  .filter-options
    width 10.5%
    margin 10px 1% 0
  .filter-word
    margin 10px 2% 0


@media screen-to-break-two
  #links
    width 73%
    .link
      .title-wrap
        h1
          a
            font-size 3.6rem


