.link-form
  background-color $ge-grey
  border-top 1px solid $fo-grey
  margin $block 0 0 0
  width 100%
  z-index 1

  #spinner
    left 50%
    top 30%
    position absolute

  h1
    color $do-grey
    font $sans-s-light
    font-style italic
    line-height: 1.1
    margin 20px

  #title-warning
    margin 3px

  input#link-form-title
    color $do-grey
    font $sans-s-light
    font-style italic
    line-height: 1.1
    width 100%
    background-color $fe-grey
    padding 3px

  .title-section
    padding 10px

    .link-form-title-required 
      font $sans-xs
      display inline-block
      color white

  h1#set-title
    display inline-block
    margin 0
    border-bottom 4px solid white
    color white
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    width 95%

    &:after
        @extend .icon-checkmark:after
        position absolute
        right 7%
        padding-left 10px
        font-size 1.8rem


    &:hover
        transition all 0.1s ease
        border-bottom 4px solid $eo-grey
        color $ae-grey






  .link-form-section
    border-top 1px solid $go-grey
    padding 20px 16px
    width 100%

    h2
      color white
      font $sans-xxs

    .link-form-tags-required 
      font $sans-xs
      display inline-block
      color white

    .tag
      border-bottom 2px solid $fo-grey
      color $be-grey
      cursor pointer
      display inline-block
      font $sans-xs
      height 40px
      margin 0 4% 0 0
      padding 8px 19px 0px 12px
      overflow hidden
      position relative
      text-overflow ellipsis
      width 46%
      white-space nowrap

      &:hover
        transition all 0.1s ease
        border-bottom 4px solid $eo-grey
        color $ae-grey

      &.selected
        border-bottom 4px solid white
        color white


        &:after
          @extend .icon-checkmark:after
          position absolute
          right 0

    .tag-popover
      background-color $ge-grey
      border 2px solid $ac-grey
      left 14%
      margin-top 7px
      position absolute
      height auto
      width 75%
      z-index 2

      &:after
        border-bottom 10px solid gray
        border-right 10px solid transparent
        border-left 10px solid transparent
        content ""
        left 43%
        margin-top -12px
        position absolute
        top 0

      .tag-popover-text
        color $ac-grey
        font $sans-xs-light
        padding 5px

      .tag-item-submit
        background-color #5DD166
        color white
        text-align center
        width 100%
        opacity 0.9
        padding 7px
        font $sans-xs

        &:hover
          transition all 0.2s ease
          opacity 1


    .link-form-topic-form
      margin: 20px 0 0 0

      #link-form-topic-search
        background-color $fe-grey
        color $be-grey
        font $sans-xs
        width 100%
        padding-left 5px

      input:focus::-webkit-input-placeholder
        color: transparent;


      .link-form-topic-submit
        background-color $green
        color $white
        font $sans-xs

  .close
    background-color #5DD166
    color white
    padding 14px
    text-align center
    width 100%
    opacity 0.9
    font $sans-s

    &:hover
      transition 0.2s ease
      opacity 1


@media screen-to-break-one
  .link-form
    left 0
    margin 0
    position absolute
    top $block
