.modal
  width 40%
  margin-left -(@width/2)

  .modal-header
    font $sans-m

  .modal-body
    font $sans-xs
    height 200px

    .modal-link
      display inline-block
      margin-bottom 10px

    .url
      margin-right 5px
      display inline-block
      overflow ellipsis
