.title
  font $sans-ml-bold
  margin 30px 0px 20px
  padding 0 20px 10px

#homepage-title
  margin 0 auto
  text-align center
  padding 0px 30px
  // width 60%

#articles-title, #big-tags-title
  border-bottom 6px solid $ho-grey
  width 73%

@media screen-to-break-one
  .title
    font $sans-l-bold

  #homepage-title
    margin 100px 0 60px
    padding 0px 80px

  #articles-title
    width 63%

@media screen-to-break-middle
  #articles-title
    width 68%

@media screen-to-break-two
  #articles-title
    width 70%
