.link-form
  background-color $ge-grey
  border-top 1px solid $fo-grey
  margin $block 0 0 0
  width 100%
  z-index 1

  h1
    color $do-grey
    font $sans-s-light
    font-style italic
    line-height: 1.1
    margin 20px

  .link-form-section
    border-top 1px solid $go-grey
    padding 20px 16px
    width 100%

    h2
      color white
      font $sans-xxs

    .tag
      border-bottom 2px solid $fo-grey
      color $be-grey
      cursor pointer
      display inline-block
      font $sans-xs
      height 40px
      margin 0 4% 0 0
      padding 8px 12px 0px
      width 46%
      position relative

      &:hover
        transition all 0.1s ease
        border-bottom 4px solid $eo-grey
        color $ae-grey

      &.selected
        border-bottom 4px solid white
        color white

        &:after
          @extend .icon-checkmark:after
          position absolute
          right 0


    .link-form-topic-form
      margin: 20px 0 0 0

      #link-form-topic-search
        background-color $fe-grey
        color $be-grey
        font $sans-xs
        width 100%
        padding-left 5px

      input:focus::-webkit-input-placeholder 
        color: transparent;
      

      .link-form-topic-submit
        background-color $green
        color $white
        font $sans-xs

  .close
    background-color $green-med
    color white
    padding 14px
    text-align center
    width 100%


@media screen-to-break-one
  .link-form
    left 0
    margin 0
    position absolute
    top $block
