$green-light = #CFFF73
$green-med =   #B8E864
$green-dark =  #9DDE64
$bluegreen = #7FFFD4
$blue-dark = #000066

$oa-grey = #FCFCFC
$ob-grey = #FAFAFA
$oc-grey = #F7F7F7
$od-grey = #F5F5F5
$oe-grey = #F2F2F2
$of-grey = #F0F0F0
$og-grey = #EDEDED
$oh-grey = #EBEBEB
$oi-grey = #E8E8E8
$ao-grey = #E6E6E6
$aa-grey = #E3E3E3
$ab-grey = #E0E0E0
$ac-grey = #DEDEDE
$ad-grey = #DBDBDB
$ae-grey = #D9D9D9
$af-grey = #D6D6D6
$ag-grey = #D4D4D4
$ah-grey = #D1D1D1
$ai-grey = #CFCFCF
$bo-grey = #CCCCCC
$ba-grey = #C9C9C9
$bb-grey = #C7C7C7
$bc-grey = #C4C4C4
$bd-grey = #C2C2C2
$be-grey = #BFBFBF
$bf-grey = #BDBDBD
$bg-grey = #BABABA
$bh-grey = #B8B8B8
$bi-grey = #B5B5B5
$co-grey = #B3B3B3
$ca-grey = #B0B0B0
$cb-grey = #ADADAD
$cc-grey = #ABABAB
$cd-grey = #A8A8A8
$ce-grey = #A6A6A6
$cf-grey = #A3A3A3
$cg-grey = #A1A1A1
$ch-grey = #9E9E9E
$ci-grey = #9C9C9C
$do-grey = #999999
$de-grey = #8C8C8C
$eo-grey = #808080
$ee-grey = #737373
$fo-grey = #666666
$fe-grey = #595959
$go-grey = #4D4D4D
$ge-grey = #404040
$ho-grey = #333333
$he-grey = #262626
$io-grey = #191919
$ie-grey = #0D0D0D