$sans-xxs-light =  300 (1.4rem/1) "source-sans-pro", arial, sans;
$sans-xxs       =  400 (1.4rem/1) "source-sans-pro", arial, sans;
$sans-xxs-bold  =  700 (1.4rem/1) "source-sans-pro", arial, sans;


$sans-xs-light  =  300 (1.8rem/1) "source-sans-pro", arial, sans;
$sans-xs        =  400 (1.8rem/1) "source-sans-pro", arial, sans;
$sans-xs-bold   =  700 (1.8rem/1) "source-sans-pro", arial, sans;
$sans-xs-spaced =  400 (1.8rem/1.3) "source-sans-pro", arial, sans;


$sans-s-light   =  300 (2.4rem/1) "source-sans-pro", arial, sans;
$sans-s         =  400 (2.4rem/1) "source-sans-pro", arial, sans;
$sans-s-bold    =  700 (2.4rem/1) "source-sans-pro", arial, sans;


$sans-ms-light  =  300 (3.2rem/1) "source-sans-pro", arial, sans;
$sans-ms        =  400 (3.2rem/1) "source-sans-pro", arial, sans;
$sans-ms-bold   =  700 (3.2rem/1) "source-sans-pro", arial, sans;


$sans-m-light   =  300 (3.6rem/1) "source-sans-pro", arial, sans;
$sans-m         =  400 (3.6rem/1) "source-sans-pro", arial, sans;
$sans-m-bold    =  700 (3.6rem/1) "source-sans-pro", arial, sans;


$sans-ml-light  =  300 (4.2rem/1) "source-sans-pro", arial, sans;
$sans-ml        =  400 (4.2rem/1) "source-sans-pro", arial, sans;
$sans-ml-bold   =  700 (4.2rem/1) "source-sans-pro", arial, sans;


$sans-l-light   =  300 (5.4rem/1) "source-sans-pro", arial, sans;
$sans-l         =  400 (5.4rem/1) "source-sans-pro", arial, sans;
$sans-l-bold    =  700 (5.4rem/1) "source-sans-pro", arial, sans;