screen-to-break-one = 'screen and (min-width: '+ $break-one +')'

screen-to-break-two = 'screen and (min-width: '+ $break-two +')'

screen-to-break-middle = 'screen and (min-width: '+ $break-middle +')'
