sprite-logo()
  sprite_mixin(0px, 0px,   80px, 80px)

sprite-plus-white()
  sprite_mixin(0px, 120px, 40px, 40px)

sprite-search-white()
  sprite_mixin(0px,  80px, 40px, 40px)

sprite-twitter-white()
  sprite_mixin(0px, 160px, 40px, 40px)

sprite-arrow-up-white()
  sprite_mixin(0px, 200px, 20px, 20px)

sprite-arrow-down-white()
  sprite_mixin(40px, 200px, 20px, 20px)

sprite-twitter-white()
  sprite_mixin(0px, 160px, 40px, 40px)

sprite-github()
  sprite_mixin(-3px, 212px, 60px, 60px)

sprite-preview()
  sprite_mixin(0px, 293px, 44px, 24px)

sprite-check-mark()
  sprite_mixin(0px, 330px, 60px, 60px)
