<div class='link-form'>
  <span id='spinner' us-spinner='{lines:6, length: 0, width: 15, radius: 12, color: "grey"}' ng-hide='doneLoading'></span>
  <div class='link-form-section title-section'>
    <h1 id='title-warning' ng-hide='!suggestedData.warning'>{{suggestedData.warning}}</h1>
    <h2 ng-hide='suggestedData.warning'>Set Title:</h2>
    <div class='link-form-tags-required' ng-show='item.noTitleOnSubmit'>We couldn't find a title for this link. Please add one.</div>
    <h1 id='set-title'
        ng-show='suggestedData.title && !linkForm.editMode'
        ng-click='changeEditMode()'>{{suggestedData.title}}</h1>
    <input id='link-form-title' type='text'
           ng-show="(!suggestedData.title || linkForm.editMode) && !suggestedData.warning"
           value="{{suggestedData.title}}"
           add-title/>
  </div>
  <div class='link-form-section'>
    <h2>Pick topics:</h2>
    <div class='link-form-tags-required' ng-show='linkForm.noTagsOnSubmit'>Hey there! Links are more helpful with topics. Add at least one.</div>
    <div class='show-tags'>
      <div ng-repeat="tag in suggestedData.tags" class="tag" ng-click="toggleTag(tag,'suggested')" ng-class='toggleClass(tag)'>{{tag}}</div>
      <div ng-repeat="yourTag in item.yourTags" class="tag" ng-click="toggleTag(yourTag,'suggested')" ng-class='toggleClass(yourTag)'>{{yourTag}}</div>
    </div>
    <div>
      <div class='link-form-topic-form'>
        <input id='link-form-topic-search' type="text" name='tag' ng-model="linkForm.tag" bs-typeahead="typeaheadFn" placeholder="Add your own topics..."
               add-tag/>
      </div>
      <div ng-show='linkForm.newTag' ng-include="'./partials/new_tag_popover.html'"></div>
    </div>
  </div>
  <div class='link-form-section'>
    <h2>Pick type:</h2>
      <div ng-repeat="type in types | orderBy:'order'" class='tag' ng-click='toggleType(type)' ng-class='toggleClass(type, "type")'>{{type.name}}</div>
  </div>
  <div class="item-submit close" ng-click="send()">Add Link</div>
</div>