<script src="lib/hackerNewsShareButton.js"></script>
<h1 class='title' id='articles-title'>{{tag}}</h1>
<aside id='about'>
  <p>{{stackOverflowSummary.summary}} <a ng-href='http://stackoverflow.com/tags/{{stackOverflowSummary.urlTag}}/info' target='_blank'>More on Stack Overflow.</a></p>
  <br>
  <br>
  <p>Related tags:</p>
  <div class="related-tag-container">
  <div class='related-tag' ng-repeat='tag in relatedTags'>
    <a ng-href="/#/{{tag}}">{{tag}}</a>
  </div>
  </div>
</aside>

<div class='filter-word'>Filter</div>
<div class='filter-options'
     ng-repeat='category in cats'
     ng-click="switchCat(category, $index)"
     ng-class="{selected: $index==selectedCategory}"
     >
{{category}}
</div>
<ul id='links'>
  <div infinite-scroll='fetchLinks()' infinite-scroll-disabled='disableScroll' infinite-scroll-distance='0'>
    <li class='link' ng-repeat='link in links| filter:curCat | orderBy:"-score"'>
      <div class='title-wrap'>
        <h1 class='link_title'>
          <a ng-href="{{link.link}}" alt="{{link.title}}">{{link.title}}</a>
        </h1>
      </div>
      <h2><a ng-href="{{link.link}}">{{link.link}}</a></h2>
      <div class='meta-data'>
        <!-- <div class='preview-logo' show-frame></div> Former preview pane toggle button -->
        <a href='/#/user/{{link.username}}/submitted' class='user-submitted-name'>{{link.username}}</a>
        <a class='read-later' ng-click='saveLinkToFavorites(link)'>Save For Later</a>
        <div class='categories-name' ng-repeat='category in link.categories'>{{category.name}}</div>
        <div class='tags-name' ng-repeat='tag in link.tags'><a ng-href='#/{{tag.name}}'> {{tag.name}}</a></div>
        <div class='share'>

          <div class="social-buttons">
            <a href="https://twitter.com/share" class="socialite twitter-share"
              data-url="{{link.link}}"
              data-text="{{link.title}}"
              data-via="readupcode" data-dnt="true"
              target="_blank">
            </a>
          </div>

          <div class='hn-share'>
            <a href="http://news.ycombinator.com/submit" class="hn-share-button"
              data-title="{{link.title}}"
              data-url="{{link.link}}"
              target="_blank">
            </a>
          </div>
        </div>
      </div>

  <!-- this is for non-logged in users -->
      <div class="votes" ng-hide="currentUser.username">
        <div class='up-vote-this' data-unique="1" bs-popover="'./partials/loggedout_popover.html'">
          <span class='up-arrow'></span>
        </div>
        <div class='down-vote-this' data-unique="1" bs-popover="'./partials/loggedout_popover.html'">
          <span class='down-arrow'></span>
        </div>
        <div class='vote-count'>{{link.score}}</div>
      </div>
  <!-- this is for logged in users -->
      <div class="votes" ng-hide="!currentUser.username">
        <div ng-class='assignClassUpvote(link)' ng-click="vote(1, link)">
          <span class='up-arrow'></span>
        </div>
        <div ng-class='assignClassDownvote(link)' ng-click="vote(-1, link)">
          <span class='down-arrow'></span>
        </div>
        <div class='vote-count'>{{link.score}}</div>
      </div>
  <!-- this is for both logged in and non-logged in-->

    </li>
  </div>
</ul>
<div id='preview-pane' scroll-position>
  <img></img>
  <div id='close-preview'>
    x
  </div>
</div>

