<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Add ALL of the tags!</h3>
</div>
<div class="modal-body">
  Here's your link: {{item.link}} <br/>
  <form ng-sumbit='addTag(tag)'>
    What tags would you like to add? <input type="text" ng-model="tag" bs-typeahead="typeaheadFn"/>
    <button ng-click='addTag(tag)'>Add</button>
  </form>
  <div ng-repeat="tag in item.tags">
    <div class="tag" ng-click="removeTag(tag)">{{tag}}</div>
  </div>
</div>
<div class='modal-footer'>
  <button class="btn" ng-click="send();hide()">Submit</button>
</div>