<div class="link-form-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Add helpful info</h3>
</div>
<div class="link-form-body">
  <div class="item-info">
    <form>
    <input id='title-input' type='text' value ="{{suggestedData.title}}"></input>
  </form>
    <div class='url'><a href='{{item.link}}'>{{item.link}}</a></div>
  </div>
  <div class='item-level'>
    <div class='level-question'>Add category</div>
    <div class='level-buttons btn-group' bs-buttons-checkbox>
      <button type='button' class='btn category-buttons' ng-model='checkbox.tutorial'>Tutorial <i class='icon-lightbulb'></i></button>
      <button type='button' class='btn category-buttons' ng-model='checkbox.reference'>Reference <span class='icon-book' aria-hidden='true'></span></button>
      <button type='button' class='btn category-buttons' ng-model='checkbox.oped'>Op/Ed <span class='icon-bullhorn' aria-hidden='true'></span></button>
      <button type='button' class='btn category-buttons' ng-model='checkbox.intro'>Intro <span class='icon-compass' aria-hidden='true'></span></button>
    </div>
  </div>
  <form ng-sumbit='addTag(tag)'>
    Add some tags <input type="text" ng-model="tag" bs-typeahead="typeaheadFn"/>
    <button ng-click='addTag(tag)'>Add</button>
  </form>
  <div class='tag-area'>
    <div class='suggested-tags'>Suggested</div>
    <div ng-repeat="tag in item.tags">
      <div class="tag" ng-click="removeTag(tag)">{{tag}}</div>
    </div>
    <div ng-repeat="suggested in suggestedData.tags">
      <div class="tag suggested-tags" ng-click="removeTag(suggested,'suggested')">{{suggested}}</div>
    </div>
    <span id='spinner' us-spinner='{lines:6, length: 0, width: 15, radius: 12}' ng-hide='doneLoading'></span>
  </div>
  <button class="btn item-submit close" data-dismiss="modal" ng-click="hide();send()">Submit</button>
</div>
