<button class="popover-close close" type="button" ng-click="dismiss()" aria-hidden="true">×</button>
<div class="popover-text">
  <div class="user-stats">
    <p>{{currentUser.username}}</p>
    <p>Cred: {{currentUser.karma}}</p>
    <a class="saved-links" ng-click='viewSaved(currentUser.username)'>My Saved Links</a><br>
    <a class="submitted-links" ng-click='viewSubmitted(currentUser.username)'>My Submitted Links</a>
  </div>
  <div class="user-logout"><a href="_/logout">Logout</a></div>
</div>
